.root {
  width: 100%;
  border-bottom: 1px solid var(--mantine-color-primary-6);
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--mantine-spacing-xs);
}

a.link,
button.link {
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  text-decoration: none;
  padding: 2px 8px;
  color: var(--mantine-color-secondary-8);
}

button.link {
  text-align: start;
}

a.link:hover,
button.link:hover {
  color: var(--mantine-color-accent-3);
}

a.activeLink {
  text-decoration: underline;
  color: var(--mantine-color-accent-4);
  border-radius: var(--mantine-radius-sm);
}

a.disabledLink {
  pointer-events: none;
  opacity: 0.5;
}

.profile {
  min-width: 100;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dropdown {
  position: absolute;
  left: 50%;
  width: 94%;
  background: var(--mantine-color-primary-7);
  transform: translateX(-50%);
  border-radius: var(--mantine-radius-sm);
  z-index: 9999;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
  padding: var(--mantine-spacing-md) var(--mantine-spacing-xs);
}

.dropdown:not([data-with-border]) {
  transform: translateX(-50%);
}
