.title {
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 28px;
  }
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 20px;
  }
}

.wrapper {
  width: 70%;
  @media (max-width: $mantine-breakpoint-sm) {
    width: 90%;
  }
  @media (max-width: $mantine-breakpoint-xs) {
    width: 95%;
  }
}

.control {
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-sm);
  }
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-xs);
  }
}

.panel {
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-sm);
  }
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-xs);
  }
}

.accordionItem {
  background-color: var(--mantine-color-primary-7);
}
