.container {
  width: 100%;
  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.icon {
  width: auto;
  object-fit: contain;
  border-radius: var(--mantine-radius-md);
  @media (max-width: $mantine-breakpoint-xs) {
    align-self: center;
  }
}

.content {
  flex-direction: column;
  flex: 1;
}

.title {
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-md);
  }
}
