.container {
  width: 100%;
  height: auto;
  padding: var(--mantine-spacing-xs);
  background: var(--mantine-color-primary-6);
  border-radius: var(--mantine-radius-md);
  @media (max-width: $mantine-breakpoint-md) {
    height: 250px;
    width: 200px;
    min-width: 200px;
  }
}

.disabled {
  pointer-events: none;
  user-select: none;
}

.title {
  margin-top: 6px;
  font-weight: 500;
  pointer-events: none;
  user-select: none;
  @media (max-width: $mantine-breakpoint-md) {
    font-size: var(--mantine-font-size-sm);
  }
}

.draggable {
  z-index: 99999;
}

.header {
  justify-content: flex-start;
  gap: var(--mantine-spacing-xs);
  margin-bottom: var(--mantine-spacing-xs);
}
