.container {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, transparent 0%, #000000 100%);
  pointer-events: none;
  @media (max-width: $mantine-breakpoint-md) {
    height: 80vh;
  }
}

.content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: $mantine-breakpoint-md) {
    margin-top: -400px;
  }
}

.title {
  line-height: 1.3;
  font-weight: 700;
  font-size: calc(2.125rem * var(--mantine-scale));
}

.message {
  line-height: 1.4;
  font-weight: 700;
  font-size: calc(1.375rem * var(--mantine-scale));
}
