.column {
  position: relative;
  padding: var(--mantine-spacing-xs);
  background: var(--mantine-color-primary-7);
  border-radius: var(--mantine-radius-lg);
  min-width: 300;
  flex: 1;
}

.header {
  height: 35px;
  width: 100%;
  padding: 2px var(--mantine-spacing-xs) 6px var(--mantine-spacing-xs);
  margin-bottom: var(--mantine-spacing-sm);
  align-items: center;
}

.label {
  color: var(--mantine-color-secondary-9);
  font-size: var(--mantine-font-size-sm);
}

.labelDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: var(--mantine-spacing-xs);
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 80%;
  aspect-ratio: 1 / 1;
  margin-left: var(--mantine-spacing-xs);
  background: var(--mantine-color-gray-8);
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--mantine-radius-sm);
  height: 100%;
  aspect-ratio: 1 / 1;
  margin-left: auto;
  transform: translateX(4px);
}

.listWrapper {
  position: relative;
  flex: 1;
  flex-direction: column;
}

.listWrapper > div {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.listWrapper > div::-webkit-scrollbar {
  display: none;
}

.list {
  height: 100%;
}

.list > div > div {
  height: 100%;
}

.empty {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--mantine-spacing-lg);
  z-index: 1;
}

.empty > svg {
  margin-bottom: -12px;
}

.empty > div > #column {
  filter: brightness(1.3);
}
