.title {
  font-size: var(--mantine-h3-font-size);
  font-weight: var(--mantine-h3-font-weight);
  line-height: var(--mantine-h3-line-height);
  margin-bottom: var(--mantine-spacing-md);
}

.list {
  flex-wrap: nowrap;
  overflow: auto;
}

.card {
  height: 100%;
  max-height: 300px;
  width: 250px;
  min-width: 250px;
}
