.container {
  margin-top: var(--mantine-spacing-xl);
}

.content {
  margin-top: var(--mantine-spacing-xl);
  justify-content: center;
  padding: 0px var(--mantine-spacing-xl);
  gap: var(--mantine-spacing-xl);
  @media (max-width: $mantine-breakpoint-sm) {
    margin-bottom: var(--mantine-spacing-xl);
    flex-direction: column;
    align-items: center;
  }
}

.title {
  font-size: var(--mantine-h3-font-size);
  font-weight: var(--mantine-h3-font-weight);
  line-height: var(--mantine-h3-line-height);
  margin-bottom: var(--mantine-spacing-md);
}

.label {
  font-weight: 700;
  text-align: center;
  font-size: var(--mantine-h1-font-size);
  line-height: 120%;
  @media (max-width: $mantine-breakpoint-md) {
    line-height: 140%;
    font-size: var(--mantine-h2-font-size);
  }
}

.description {
  white-space: pre;
  text-align: center;
  font-weight: 600;
  font-size: var(--mantine-font-size-sm);
  @media (max-width: $mantine-breakpoint-md) {
    font-size: var(--mantine-font-size-xs);
  }
}

.counts {
  width: 400px;
  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
    flex-grow: 1;
    margin-top: var(--mantine-spacing-md);
  }
}

.counts > div {
  height: 100%;
}

.count {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countLabel {
  text-align: center;
  font-size: var(--mantine-h4-font-size);
  line-height: var(--mantine-h4-line-height);
}

.countValue {
  font-weight: 700;
  text-align: center;
  font-size: var(--mantine-h1-font-size);
  font-weight: var(--mantine-h1-font-weight);
  line-height: var(--mantine-h1-line-height);
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: var(--mantine-h2-font-size);
    font-weight: var(--mantine-h2-font-weight);
    line-height: var(--mantine-h2-line-height);
  }
}
