.container {
  background: var(--mantine-color-primary-7);
  border-radius: var(--mantine-radius-lg);
  padding-top: var(--mantine-spacing-lg);
  padding-bottom: var(--mantine-spacing-lg);
  padding-left: var(--mantine-spacing-xl);
  padding-right: var(--mantine-spacing-xl);
  align-items: center;
  @media (max-width: $mantine-breakpoint-md) {
    padding-top: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);
    padding-left: var(--mantine-spacing-lg);
    padding-right: var(--mantine-spacing-lg);
    flex-direction: column;
  }
}

.avatar {
  margin-right: var(--mantine-spacing-md);
  border-radius: 50%;
}

.psn {
  flex-direction: column;
}

.name {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  @media (max-width: $mantine-breakpoint-md) {
    justify-content: center;
  }
}

.presence {
  flex-wrap: wrap;
  @media (max-width: $mantine-breakpoint-md) {
    justify-content: center;
  }
  @media (max-width: $mantine-breakpoint-sm) {
    gap: 0px;
  }
}

.presence > p {
  text-align: center;
  @media (max-width: $mantine-breakpoint-sm) {
    margin: 0px;
  }
}

.profile {
  margin-left: auto;
  flex-wrap: wrap;
  @media (max-width: $mantine-breakpoint-md) {
    margin-top: var(--mantine-spacing-md);
    margin-left: 0px;
  }
  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
    justify-content: space-between;
    gap: var(--mantine-spacing-sm);
  }
}

.profileValue {
  font-size: var(--mantine-font-size-xl);
  font-weight: 700;
  @media (max-width: $mantine-breakpoint-md) {
    font-size: var(--mantine-font-size-lg);
  }
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-md);
  }
}
