* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

body {
  flex: 1;
  scrollbar-gutter: stable;
}

html,
body {
  overflow: auto;
}

#main {
  flex-grow: 1;
  height: 100%;
  width: 100%;
}
