.container {
  position: sticky;
  top: var(--mantine-spacing-md);
  min-height: 100px;
  width: 100%;
  background: var(--mantine-color-primary-7);
  border-radius: var(--mantine-radius-lg);
  padding: var(--mantine-spacing-sm);
  z-index: 10;
  align-items: center;
  @media (max-width: $mantine-breakpoint-sm) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.icon {
  height: 80px;
  min-height: 80px;
  width: auto;
  object-fit: contain;
  border-radius: var(--mantine-radius-md);
}

.info {
  flex: 1;
  margin-left: var(--mantine-spacing-md);
  flex-direction: column;
  justify-content: center;
  @media (max-width: $mantine-breakpoint-sm) {
    order: 2;
    margin-left: 0;
    margin-top: var(--mantine-spacing-sm);
    min-width: 100%;
  }
}

.heading {
  margin-bottom: var(--mantine-spacing-xs);
  align-items: center;
  @media (max-width: $mantine-breakpoint-md) {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
}

.heading > div {
  margin-left: var(--mantine-spacing-sm);
  @media (max-width: $mantine-breakpoint-md) {
    margin-left: 0;
    margin-top: 6px;
  }
}

.count {
  align-items: center;
}
