.container {
  position: sticky;
  top: var(--mantine-spacing-md);
  min-height: 100px;
  width: 100%;
  background: var(--mantine-color-primary-7);
  border-radius: var(--mantine-radius-lg);
  padding: var(--mantine-spacing-sm);
  z-index: 10;
  align-items: center;
}

.icon {
  width: auto;
  object-fit: contain;
  border-radius: var(--mantine-radius-md);
}

.info {
  flex: 1;
  margin-left: var(--mantine-spacing-md);
  flex-direction: column;
  justify-content: center;
}
