.container {
  width: 100%;
  gap: var(--mantine-spacing-md);
  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
  }
}

.content {
  flex: 1;
  background: var(--mantine-color-primary-7);
  border-radius: var(--mantine-radius-lg);
  padding-top: var(--mantine-spacing-lg);
  padding-bottom: var(--mantine-spacing-lg);
  padding-left: var(--mantine-spacing-xl);
  padding-right: var(--mantine-spacing-xl);
  align-items: center;
  justify-content: space-evenly;
  @media (max-width: $mantine-breakpoint-md) {
    flex-wrap: wrap;
    padding-top: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);
    padding-left: var(--mantine-spacing-lg);
    padding-right: var(--mantine-spacing-lg);
  }
  @media (max-width: $mantine-breakpoint-sm) {
    gap: var(--mantine-spacing-md);
  }
}

.block {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4;
}

.blockRow {
  justify-content: center;
  align-items: center;
  gap: 4;
}

.progress {
  flex-direction: column;
  gap: 4;
}

.progressHeader {
  justify-content: space-between;
}

.label {
  font-weight: 500;
}

.value {
  font-weight: 700;
  font-size: var(--mantine-font-size-xl);
}

.progressValue {
  font-weight: 700;
}

.trophyValue {
  font-size: var(--mantine-h2-font-size);
  font-weight: var(--mantine-h2-font-weight);
  line-height: var(--mantine-h2-line-height);
  padding-left: var(--mantine-spacing-xs);
  @media (max-width: $mantine-breakpoint-md) {
    font-size: var(--mantine-h3-font-size);
    font-weight: var(--mantine-h3-font-weight);
    line-height: var(--mantine-h3-line-height);
  }
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: var(--mantine-h4-font-size);
    font-weight: var(--mantine-h4-font-weight);
    line-height: var(--mantine-h4-line-height);
  }
}
