.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trigger {
  border-radius: var(--mantine-radius-lg);
  font-size: var(--mantine-font-size-sm);
}

.dropdown {
  width: 400px;
  @media (max-width: 450px) {
    width: 90%;
  }
}
