.container {
  position: relative;
  width: 100%;
  min-height: 60px;
  align-items: center;
  padding-right: 40px;
}

.content {
  flex-direction: column;
  margin: 0px var(--mantine-spacing-md);
}

.thumbnail {
  height: 100%;
  width: auto;
  min-width: 110px;
}

.title {
  margin-top: 4px;
  font-size: var(--mantine-font-size-sm);
}

.add {
  height: 100%;
  width: 40px;
  padding: 0px 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: var(--mantine-radius-md);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
