.container {
  width: 100%;
  height: 60px;
  align-items: center;
}

.content {
  flex-grow: 1;
  flex-direction: column;
  margin-left: var(--mantine-spacing-md);
}

.thumbnail {
  height: 100%;
  width: auto;
}

.title {
  margin-top: 4px;
  font-size: var(--mantine-font-size-sm);
}

.add {
  height: 100%;
  width: auto;
  padding: 0px 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: var(--mantine-radius-md);
}
