.container {
  width: 100%;
  height: auto;
  padding: var(--mantine-spacing-xs);
  background: var(--mantine-color-primary-6);
  border-radius: var(--mantine-radius-md);
  text-decoration: none;
  color: unset;
}

.title {
  margin-top: 6px;
  margin-bottom: auto;
  font-weight: 500;
  font-size: var(--mantine-font-size-xs);
}

.header {
  justify-content: flex-start;
  gap: var(--mantine-spacing-xs);
  margin-bottom: var(--mantine-spacing-xs);
}
