.container {
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
  background: var(--mantine-color-primary-7);
  border-radius: var(--mantine-radius-lg);
  padding-top: var(--mantine-spacing-lg);
  padding-bottom: var(--mantine-spacing-lg);
  padding-left: var(--mantine-spacing-xl);
  padding-right: var(--mantine-spacing-xl);
  @media (max-width: $mantine-breakpoint-md) {
    padding-top: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);
    padding-left: var(--mantine-spacing-lg);
    padding-right: var(--mantine-spacing-lg);
  }
}

.title {
  font-size: var(--mantine-font-size-xl);
  font-weight: 700;
  @media (max-width: $mantine-breakpoint-md) {
    font-size: var(--mantine-font-size-lg);
  }
}

.input {
  padding: 4px var(--mantine-spacing-md);
  padding-right: 52px;
  height: auto;
}

.section {
  pointer-events: all;
  margin-right: var(--mantine-spacing-xs);
}
