* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  display: flex;
  flex-direction: column;
  scrollbar-gutter: stable;
}

body {
  flex: 1;
}

html > body {
  margin-right: 0px !important;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

#reward {
  z-index: 99999;
  position: fixed;
  pointer-events: none;
  width: 5px;
  height: 5px;
  top: 90%;
  left: 50%;
}
