* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  overflow-y: scroll;
}

#__next {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

#reward {
  z-index: 99999;
  position: fixed;
  pointer-events: none;
  width: 5px;
  height: 5px;
  top: 90%;
  left: 50%;
}
