* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
  width: 100%;
  scrollbar-gutter: stable;
}

#__next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
