.control:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.content {
  max-height: 70vh;
  overflow-y: auto;
}

/* MARKDOWN STYLES */
.content ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}

.content ul[data-type="taskList"] li {
  display: flex;
}

.content ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.content ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}

.content ul[data-type="taskList"] li > div > p {
  margin: 0;
}

.content ul[data-type="taskList"] p {
  margin: 0;
}

.content ul[data-type="taskList"] input[type="checkbox"] {
  cursor: pointer;
}

.content div[data-youtube-video] iframe {
  border: none;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
